body {
    font-family: sans-serif;

}

header {
    border: 1px solid #b5b7ba;
    background-color: #dfdfdf;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.header-1 {
    border-bottom: none;
}

.header-2 {
    border-top: none;
}

main {
    display: flex;
    word-wrap: normal;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    flex-wrap: wrap;
}

main p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    width: 693px;
    line-height: 36px;

}

header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

h1 {
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 280px;
    height: 280px;

}

.olga-photo {
    border: 3px solid purple;
}

li {
    line-height: 36px;
    font-size: 24px;
    font-weight: 100;
}

.olga-h {
    color: purple;
}

.olga-p {
    color: blueviolet;
}

.ira-h {
    color: hotpink;
}

.oksana-h {
    color: orange;
}

.tortopek-h {
    color: #FCC13F;
    font-weight: bold;
    font-family: inherit
}

.next {
    margin-top: 50px;
}

.nails-2-h {
    color: #E22E03;
}

.alsu-h {
    color: #559E69;
}

.cake-2-h {
    color: #DE0E2E;
}

.lola {
    color: #A56855;
}

.img-mini {
    width: 150px;
    height: 150px;
}
.print-h {
    color: #2F2DF2;
}
footer {
    background-color: #434445;
    height: 120px;
    color: #a4a4a4;
    font-size: 20px;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
